.searchposition{
    margin-left: 5%;
    margin-top: 5%;
}
.selectposition{
    margin-left: 5%;
}
.selecti{
    margin-left: 3.5%;
}
.selectposin3{
    margin-left: 1.5%;
}
.divborder{
    width: 130%;
    height: 100%;
    border: 1px black ridge;
    text-align: center;
}