<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button (click)="onGetAllClients()" class="btn btn-outline-info ml-2">All</button>
        </li>
    </ul>
    <ul class="navbar navbar-nav ml-auto">
        <li>
            <form #f = "ngForm" (ngSubmit)="onSearch(f.value)">
                <div class="form-group">
                    <input ngModel name="keyword" type="text">
                    <button class="btn btn-outline-info">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
        </li>
    </ul>
</nav>

<div class="container" *ngIf="clients">
    <table class="table">
        <tr>
            <td>ID</td><td>first name</td><td>last name</td><td>mail</td><td>city</td><td>adress</td>
        </tr>
        <tr *ngFor="let c of clients">
            <td>{{c.id}}</td><td>{{c.f_name}}</td><td>{{c.l_name}}</td><td>{{c.mail}}</td><td>{{c.city}}</td><td>{{c.adress}}</td>
            <td>
                <button (click)="onDelet(c)"  class="btn btn-sm btn-danger"><span>delete</span></button>
            </td>
        </tr>
    </table>
</div>
