<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {{clientDetail()}}
    <div class="container-fluid">
        <a class="navbar-brand" (click)="changecheck()" type="button">
            <i class="far fa-cars" style="font-size: 40px;"></i>
            <span style="font-size: 40px;"><b>POS</b></span>
          </a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" size="70px">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active contact" aria-current="page" href="#foot">Contact us</a>
          </li>
          <li class="nav-item sign" *ngIf="!isLogIn && !isLogInNormal" >
          <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
          <a data-bs-toggle="modal" href="#exampleModalToggle" role="button"><label class="btn btn-outline-secondary " for="btncheck1">Sign in</label></a>
            </li>
            <li class="nav-item" *ngIf="!isLogIn && !isLogInNormal">
          <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
          <a data-bs-toggle="modal" href="#signup" role="button"><label class="btn btn-outline-secondary" for="btncheck2">sign up</label></a>
            </li>
            <li class="nav-item" *ngIf="isLogIn">
              <span style="font-size: 13px;"><b>Welcom {{user.name}} <img src="{{user.photoUrl}}" alt=""> </b></span>
            </li>
            <li class="nav-item" *ngIf="isLogInNormal">
              <span style="font-size: 13px;"><b>Welcom  {{client.f_name}} <img src="https://st3.depositphotos.com/4111759/13425/v/600/depositphotos_134255710-stock-illustration-avatar-vector-male-profile-gray.jpg" alt=""> </b></span>
            </li>
            <li class="nav-item" *ngIf="isLogIn">
              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
              <a data-bs-toggle="modal" href="" role="button" (click)="signOut()"><label class="btn btn-outline-secondary" for="btncheck2">Log out</label></a>
            </li>
            <li class="nav-item" *ngIf="isLogInNormal">
              <input type="button" class="btn-check" id="btncheck3" autocomplete="off">
              <a  href="" role="button" (click)="signOutNormal()"><label class="btn btn-outline-secondary" for="btncheck3">Log out</label></a>
            </li>
          <li class="nav-item ">
              <div class="cart">
              <a routerLink="/cart" *ngIf="myInfo;else elseBlock" (click)="myInfo=!myInfo"><i class="fas fa-cart-plus" style="font-size: 40px; color: black;"></i></a>
              <ng-template #elseBlock> <a routerLink="/" (click)="myInfo=!myInfo" (click)="isclicked()"><i class="fas fa-cart-plus" style="font-size: 40px; color: black;"></i></a></ng-template>
            </div>
           </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>