<div class="divborder">
    <a class="navbar-brand" href="#">
        <i class="far fa-cars" style="font-size: 40px; color: black;"></i>
        <span style="font-size: 40px; color: black; "><b>POS</b></span>
        <span style="font-size: 40px; color: black;"> &nbsp; Welcome to the best selling Web site </span>
    </a>
    <p> This website helps the custumors to find all the Components which they need with the best services </p>
    <p> This website is also a java project. Their creators are : <br> 
          <b>Salaheddine Khaif</b> &nbsp;  <b>Hossam ElOuater</b> &nbsp; <b>Mohammed Ali Fakri</b> </p>
</div>
