<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Engin</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Engins</a></li>
        <li><a class="dropdown-item" href="#">Bougies</a></li>
        <li><a class="dropdown-item" href="#">Injecteurs</a></li>
        <li><a class="dropdown-item" href="#">Turbos</a></li>
        <li><a class="dropdown-item" href="#">Emprayages</a></li>
        <li><a class="dropdown-item" href="#">culasses</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Echappement</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Echappement</a></li>
          <li><a class="dropdown-item" href="#">Echappement silencieu</a></li>
          <li><a class="dropdown-item" href="#">Pot catalytique</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Train roulant</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Train roulant</a></li>
          <li><a class="dropdown-item" href="#">Pneus</a></li>
          <li><a class="dropdown-item" href="#">Cardans</a></li>
          <li><a class="dropdown-item" href="#">Rotule</a></li>
          <li><a class="dropdown-item" href="#">Amortisseur</a></li>
          <li><a class="dropdown-item" href="#">Roulement</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Chauffage</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Chauffage</a></li>
          <li><a class="dropdown-item" href="#">Radiateur</a></li>
          <li><a class="dropdown-item" href="#">Pluseur d'air</a></li>
          <li><a class="dropdown-item" href="#">Rotule</a></li>
          <li><a class="dropdown-item" href="#">Sonde</a></li>
          <li><a class="dropdown-item" href="#">Thermostat</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Freinage</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Freinage</a></li>
          <li><a class="dropdown-item" href="#">Plaquettes</a></li>
          <li><a class="dropdown-item" href="#">Disque</a></li>
          <li><a class="dropdown-item" href="#">Cable frein</a></li>
        </ul>
      </li>
</ul>