<div class="modal fade " id="signup" aria-hidden="true" aria-labelledby="signupLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content small-div">  
        <div class="modal-header">
            <i class="far fa-cars" style="font-size: 40px; margin-left: 40%;"></i>
            <span style="font-size: 40px;"><b>POS</b></span>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
            <div class="center">
                <div class="mb-3">
                    <label for="name" class="form-label">name</label>
                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Conform Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                </div>
            </div>
        <div class="modal-footer">
            <div class="col">
                <a href="#" class="fb btn">
                    <i class="fab fa-facebook"></i> Login with Facebook
                </a>
                <a href="#" class="google btn">
                    <i class="fab fa-google"></i> Login with Google+
                </a>
            </div>
          <button class="btn btn-primary" data-bs-target="#signup2" data-bs-toggle="modal">sign up</button>
        </div>
        </form>
      </div>
    </div>
  </div>