<section class="partners">
  <div class="containers positionapp">
    <div class="row justify-content-md-center">
      <div class="col-md-2">
        <img src="https://c4.wallpaperflare.com/wallpaper/114/631/730/logo-emblem-propeller-wallpaper-preview.jpg">
      </div>
      <div class="col-md-2">
        <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0019/7045/brand.gif?itok=r4KxAZ1I">
      </div>
      <div class="col-md-2">
        <img src="https://img-4.linternaute.com/IRurmeGiq88yeXBhJQlrm3FNQZM=/620x/smart/b3f93e16dda64f9dbfb05fe353981a5e/ccmcms-linternaute/1257376.jpg">
      </div>
      <div class="col-md-2">
        <img src="https://www.stickers-az.fr/177-large_default/stickers-renault-logo.jpg">
      </div>
      <div class="col-md-2">
        <img src="https://www.wallpapertip.com/wmimgs/31-314804_download-wallpaper-toyota-logo-toyota-car-logo-png.jpg">
      </div>
    </div>

  </div>

</section>



