<div class="divcenter">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted"> {{ totalQuantity }} </div>
                </div>
            </div>
            <div class="row " *ngFor="let c of cartitems">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{c.component.picture}}"></div>
                    <div class="col">
                        <div class="row text-muted">{{c.component.name}}</div>
                        <div class="row">{{c.component.description}}</div>
                    </div>
                    <div class="col"> <a href="#" routerLink="/cart" (click)="decrement(c.component.id)"  >-</a> {{c.quantity}}<a href="#" routerLink="/cart" (click)="increment(c.component.id)">+</a> </div>
                    <div class="col">&euro;{{c.component.price}} <a href="#" routerLink="/cart" (click)="deleteformpanier(c.component.id)"><span class="close">&#10005;</span> </a> </div>
                </div>
            </div>
    
            <button routerLink="/" class="back-to-shop btn button"> &leftarrow; Back to shop </button>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <br>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">{{totalPrice| currency:'USD'}} </div>
            </div> <button class="btn positionbottom" (click)="goPaiement()">CHECKOUT</button>
        </div>
    </div>
</div>
